/*Bruno Barcelona 348862 y Rodrigo Carrion 334254*/
article {
    background-color: #02ff7f;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 5px;
    display: flex;
    text-align: left;
    flex-direction: column;
    line-height: 0;
}

h1 {
    text-align: center;
    font-size: 1em;
    color: #070707;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, Georgia, serif;
}

h3 {
    line-height: 1;
}

#imagen {
    display: block;
    margin: 20px auto;
    max-width: 30%;
    height: auto;
}

#btnDatos {
    margin-bottom: 12px;
}

#btnPatrocinador {
    width: 15%;
}

#btnAgregarCorredor {
    width: 8%;
}

.btnActivo {
    background-color: #4CAF50;
}

.btnInactivo {
    background-color: #ccc;
}

.btnActivo:hover, .btnInactivo:hover {
    opacity: 0.8;
}

#idEstadisticas, #idDatos {
    background-color: #d5f4d4;
    border-radius: 10px;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#idFormInscripciones {
    width: 50%;
}

.orden {
    width: 10%;
}

#idDepartamento {
    width: 8%;
}

#idRubro {
    width: 8%;
}

#idInscriptosCarrera {
    width: 12%;
}

#idInscLin {
    line-height: 0.5;
}

#idcaptInsc {
    line-height: 1;
}

.radioBtn {
    display: inline-block;
}

#idCarrerasAPatrocinar {
    width: 100px;
    height: 100px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

#idTablaInscriptos {
    width: 350px;
    height: 50px;
}

footer {
    background-color: #f0f4d4;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}
